.jumbotron {
	background-image: url("Images/MontrealGithub.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-color: powderblue;
	color: black;
	height: 600px;
	width: 100%;
}

.about {
	max-width: 1050px;	
}
.skills {
	padding = 5px;
}

.experience
{
	text-align:left;
}

.fab {
	color: #659EC7;
	font-size: 55px;
	padding: 20px;
	width: 100px;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 30px;
}

.fab:hover {
	color: #fed035;
}

.fas {
	color: #659EC7;
	font-size: 55px;
	padding: 20px;
	width: 100px;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 30px;
}

.fas:hover {
	color: #fed035;
}