.jumbotron {
	background-color: powderblue;
	background-image:url("Images/MontrealGithub.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
}

#Technical_Skills
{
	text-align: left;
	list-style-position: inside;
}
#Technical_Experience
{
	text-align: left;
}