body {
  	font-family: 'Ubuntu', sans-serif;
	padding-top: 30px;
	background: #343a40;
	color: #dddddd;
}
a {
	color: #dddddd;
}
a:hover {
	color: #007bff;
}
p{
  color:#DDDDDD;
}
#navLinks a:hover
{
	color:#ffff00;
}
.fa-envelope {
	color: #DDDDDD;
}
.fa-github-square {
	color: #DDDDDD;
}
.fa-linkedin {
	color: #DDDDDD;
}
.fa-map-marker-alt {
	color: #DDDDDD;
}
#navLinks a
{
	color:#DDDDDD;
}
.navbar-dark .navbar-brand {
	color:  #DDDDDD;
}
.navbar-dark .navbar-brand:hover {
	color: #ffff00;
}
#jumboheader
{
	background: #343a40;
	padding: 2rem;
	margin-bottom: 1rem;
} 
.jumbotron h1
{
	color: #DDDDDD;
}
.jumbotron h4
{
	color: #DDDDDD;
}
#aboutedu
{
	width: 80%;
	color: #DDDDDD;
}
.UBCLogo
{
	border: 0;
}
#mainnavbar
{
	margin-bottom: 1.5rem;
}
img {
	max-width:100%;
	height: auto;
	width: auto;
}
.img-thumbnail
{
	border-width: 0px;
}
#programmingskills
{
	width: 75%;
	color: #dddddd;
}
#Projects img:hover
{
	opacity: 0.5;
	cursor: pointer;
	backdrop-filter: ;
}

#RNN
{
	height: 275px;
	width: 80%;
	overflow: hidden;
}

.modal-dialog
{
	width: 2000px;
}
li
{
	font-size: 1.2rem;
}
.container_stretch
{
	width: 80%;
}
.container_stretch_90
{
	width: 90%;
}

@media (max-width: 1300px) {
	.img-thumbnail
	{
		background: #e9ecef;
		height: 150px;
		width: 80%;
		overflow: hidden;
	}

}

@media (max-width: 997px) {

	.img-thumbnail
	{
		height: 100px;
	}
}

@media (max-width: 767px) {

	.img-thumbnail
	{
		background: #e9ecef;
		height: 100px;
		width: 55%;
		overflow: hidden;
	}
}

@media (max-width: 595px) {

	.img-thumbnail
	{
		background: #e9ecef;
		height: 150px;
		width: 80%;
		overflow: hidden;
	}
}
